<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="tiandiMapServer" value="http://t3.tianditu.com/DataServer,http://t4.tianditu.com/DataServer,http://t5.tianditu.com/DataServer,http://t6.tianditu.com/DataServer" />
    <add key="webProxy" value="" />
    <add key="gaoDeKey" value="6064051679efa89524860e1de482e294,ddcf114352f37eb1295049911533e97e,05d0b6e52d9ed5da644bf6922513a73a,0ba834e6f778cfe55104df2213d20b2e" />
    <add key="baiduKey" value="zeTqFBtbo8P9b5YeeepZouxd,8tSet4qeEKeRLTzpL1CRLDZq,AA5708826f754eb3d65a7358b478c20a,GOS8PlvxFWWMO4byOQd15Gld,uV63OIQwGo3LUs5MBGaM3Wyr,UAYYCnaiLSdvvxFWdAKcpsXa,uV63OIQwGo3LUs5MBGaM3Wyr" />
    <add key="authkey" value="35615D9551BFA71950119F5688EBE35D" />
    <add key="selectedMap" value="2" />
    <!--6064051679efa89524860e1de482e294,ddcf114352f37eb1295049911533e97e,05d0b6e52d9ed5da644bf6922513a73a-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--pgis 地图服务URL-->
    <add key="ezmapUrl" value="http://10.173.2.20/PGIS_S_TileMapServer/Maps/V"/>
    <add key="serviceVersion" value="0.3"/>
    <add key="dbHost" value="192.168.60.242"/>
   <add key="dbUser" value="postgres"/>
   <add key="dbase" value="routing"/>
    <add key="dbPassword" value="123456"/>
  </appSettings>
  <connectionStrings>
    <add name="postgres" connectionString="Server =192.168.60.242;Port=5432;user id =postgres;password =123456;Database = routing;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>