<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="tiandiMapServer" value="http://tile0.tianditu.com/DataServer,
                                             http://tile1.tianditu.com/DataServer,
                                             http://tile2.tianditu.com/DataServer,
                                             http://tile3.tianditu.com/DataServer,
                                             http://tile4.tianditu.com/DataServer,
                                             http://tile5.tianditu.com/DataServer,
                                             http://tile6.tianditu.com/DataServer"/>
    <add key="queryUrl" value="http://www.tianditu.com/query.shtml"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
