<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tiandiMapServer" value="http://tile0.tianditu.com/DataServer,
                                             http://tile1.tianditu.com/DataServer,
                                             http://tile2.tianditu.com/DataServer,
                                             http://tile3.tianditu.com/DataServer,
                                             http://tile4.tianditu.com/DataServer,
                                             http://tile5.tianditu.com/DataServer,
                                             http://tile6.tianditu.com/DataServer"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>